tests/testdata/wsdl-1_3.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ddp="http://www.docdatapayments.com/services/paymentservice/1_3/" xmlns:tns="http://www.docdatapayments.com/services/paymentservice/1_3/paymentservice.wsdl" name="paymentService" targetNamespace="http://www.docdatapayments.com/services/paymentservice/1_3/paymentservice.wsdl">
	<documentation>The SOAP payment service provides operations for dealing
		with the live transactional system of DocData.</documentation>

	<types>
		<xsd:schema>
			<xsd:import schemaLocation="https://test.docdatapayments.com:443/ps/services/paymentservice/1_3?xsd=1" namespace="http://www.docdatapayments.com/services/paymentservice/1_3/"/>
		</xsd:schema>
	</types>

	<message name="createRequest">
		<documentation>Parameters to the "create" operation.</documentation>
		<part name="params" element="ddp:createRequest"/>
	</message>
	<message name="createResponse">
		<documentation>Response to the "create" operation.</documentation>
		<part name="params" element="ddp:createResponse"/>
	</message>
	<message name="refundRequest">
		<part name="params" element="ddp:refundRequest"/>
	</message>
	<message name="refundResponse">
		<part name="params" element="ddp:refundResponse"/>
	</message>
	<message name="cancelRequest">
		<part name="params" element="ddp:cancelRequest"/>
	</message>
	<message name="cancelResponse">
		<part name="params" element="ddp:cancelResponse"/>
	</message>
	<message name="startRequest">
		<part name="params" element="ddp:startRequest"/>
	</message>
	<message name="startResponse">
		<part name="params" element="ddp:startResponse"/>
	</message>
	<message name="proceedRequest">
		<part name="params" element="ddp:proceedRequest"/>
	</message>
	<message name="proceedResponse">
		<part name="params" element="ddp:proceedResponse"/>
	</message>
	<message name="captureRequest">
		<part name="params" element="ddp:captureRequest"/>
	</message>
	<message name="captureResponse">
		<part name="params" element="ddp:captureResponse"/>
	</message>
	<message name="statusRequest">
		<part name="params" element="ddp:statusRequest"/>
	</message>
	<message name="statusResponse">
		<part name="params" element="ddp:statusResponse"/>
	</message>
	<message name="extendedStatusRequest">
		<part name="params" element="ddp:extendedStatusRequest"/>
	</message>
	<message name="extendedStatusResponse">
		<part name="params" element="ddp:extendedStatusResponse"/>
	</message>
	<message name="listPaymentMethodsRequest">
		<part name="params" element="ddp:listPaymentMethodsRequest"/>
	</message>
	<message name="listPaymentMethodsResponse">
		<part name="params" element="ddp:listPaymentMethodsResponse"/>
	</message>

	<portType name="PaymentServiceSOAP">
		<operation name="create">
			<documentation>Creates a payment order in the DocData system, so it
				may be processed later.</documentation>
			<input message="tns:createRequest"/>
			<output message="tns:createResponse"/>
		</operation>
		<operation name="start">
			<documentation>Starts processing of a payment order in the DocData
				system. This is an alternative to using the web menu hosted payment
				pages.
				When an initial (previous) payment order is specified, the
				details will be reused from that payment order.
			</documentation>
			<input message="tns:startRequest"/>
			<output message="tns:startResponse"/>
		</operation>
		<operation name="proceed">
			<documentation>Proceeds processing of a payment order in the DocData
				system. This is a follow-up on the start operation, in case of
				any required shopper interaction, like 3DS or iDEAL. This operation
				is called with the result of the shopper interaction and proceeds handling the payment.
			</documentation>
			<input message="tns:proceedRequest"/>
			<output message="tns:proceedResponse"/>
		</operation>
		<operation name="cancel">
			<documentation>Cancels an authorized payment order, voiding the
				order. Only possible if not yet captured, and only for the full
				amount.</documentation>
			<input message="tns:cancelRequest"/>
			<output message="tns:cancelResponse"/>
		</operation>
		<operation name="capture">
			<documentation>Creates a capture request in the DocData system for
				(part of) a payment order, so it may be processed later.
			</documentation>
			<input message="tns:captureRequest"/>
			<output message="tns:captureResponse"/>
		</operation>
		<operation name="refund">
			<documentation>Creates a refund request in the DocData system to
				(partially) undo a captured amount, so it may be processed later.
			</documentation>
			<input message="tns:refundRequest"/>
			<output message="tns:refundResponse"/>
		</operation>
		<operation name="status">
			<documentation>Retrieves a report that describes the state of a
				specified payment order.</documentation>
			<input message="tns:statusRequest"/>
			<output message="tns:statusResponse"/>
		</operation>
		<operation name="statusExtended">
			<documentation>Retrieves an extended report that describes the state of a
				specified payment order.</documentation>
			<input message="tns:extendedStatusRequest"/>
			<output message="tns:extendedStatusResponse"/>
		</operation>
		<operation name="listPaymentMethods">
			<documentation>Lists all the possible the payment methods that are available for the given payment order
			key.</documentation>
			<input message="tns:listPaymentMethodsRequest"/>
			<output message="tns:listPaymentMethodsResponse"/>
		</operation>
	</portType>

	<binding name="PaymentServiceBinding" type="tns:PaymentServiceSOAP">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<operation name="create">
			<soap:operation soapAction="create"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="refund">
			<soap:operation soapAction="refund"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="cancel">
			<soap:operation soapAction="cancel"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="start">
			<soap:operation soapAction="start"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="proceed">
			<soap:operation soapAction="proceed"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="capture">
			<soap:operation soapAction="capture"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="status">
			<soap:operation soapAction="status"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="statusExtended">
			<soap:operation soapAction="statusExtended"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="listPaymentMethods">
			<soap:operation soapAction="listPaymentMethods"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="paymentService">
		<port binding="tns:PaymentServiceBinding" name="PaymentServiceSOAP">
			<soap:address location="https://test.docdatapayments.com:443/ps/services/paymentservice/1_3"/>
		</port>
	</service>

</definitions>