tests/testdata/xsd1-1_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ddp="http://www.docdatapayments.com/services/paymentservice/1_2/" targetNamespace="http://www.docdatapayments.com/services/paymentservice/1_2/" elementFormDefault="qualified">

    <!-- ============================================================ -->
    <!-- ====================== Basic Types   ======================= -->
    <!-- ============================================================ -->

    <complexType name="country">
        <annotation>
            <documentation>Country code according to ISO 3166.</documentation>
        </annotation>
        <attribute name="code" use="required" type="ddp:countryCode"/>
    </complexType>

    <complexType name="language">
        <annotation>
            <documentation>Language code according to ISO 639.</documentation>
        </annotation>
        <attribute name="code" use="required" type="ddp:languageCode"/>
    </complexType>

    <simpleType name="languageCode">
        <annotation>
            <documentation>ISO 639-1:2002 Part 1: Alpha-2 Language Codes
                (lowercase)
            </documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[a-z][a-z]"/>
        </restriction>
    </simpleType>


    <simpleType name="countryCode">
        <annotation>
            <documentation>ISO 3166-1:2006</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[A-Z][A-Z]"/>
        </restriction>
    </simpleType>

    <simpleType name="currency">
        <annotation>
            <documentation>ISO 4217:2008</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[A-Z][A-Z][A-Z]"/>
        </restriction>
    </simpleType>

    <simpleType name="plainDate">
        <annotation>
            <documentation>
                A date formatted as yyyy-MM-dd, for example February
                25th, 2014 would become "2012-02-25".
            </documentation>
        </annotation>
        <restriction base="normalizedString">
            <minLength value="10"/>
            <maxLength value="10"/>
            <pattern value="((1[89])|(2[01]))\d{2}-((1[012])|0[1-9])-((0[1-9])|(3[01])|([12]\d))"/>
        </restriction>
    </simpleType>

    <simpleType name="plainDateTime">
        <annotation>
            <documentation>
                A date formatted as yyyy-MM-dd HH:mm:ss, for example
                February
                25th, 2014, 3 past twelve and 4 seconds, would become
                "2012-02-25
                12:03:04".
            </documentation>
        </annotation>
        <restriction base="normalizedString">
            <minLength value="19"/>
            <maxLength value="19"/>
        </restriction>
    </simpleType>

    <simpleType name="string35">
        <restriction base="normalizedString">
            <minLength value="1"/>
            <maxLength value="35"/>
        </restriction>
    </simpleType>

    <simpleType name="string50">
        <restriction base="normalizedString">
            <minLength value="1"/>
            <maxLength value="50"/>
        </restriction>
    </simpleType>

    <simpleType name="string100">
        <restriction base="normalizedString">
            <minLength value="1"/>
            <maxLength value="100"/>
        </restriction>
    </simpleType>

    <simpleType name="string250">
        <restriction base="normalizedString">
            <minLength value="1"/>
            <maxLength value="250"/>
        </restriction>
    </simpleType>

    <simpleType name="string2048">
        <restriction base="normalizedString">
            <minLength value="1"/>
            <maxLength value="2048"/>
        </restriction>
    </simpleType>

    <simpleType name="amexCreditCardNumber">
        <annotation>
            <documentation>
                American Express credit card number. Starts with 34 or
                37 and have 15 digits.
            </documentation>
        </annotation>
        <restriction base="ddp:string35">
            <pattern value="3[47][0-9]{13}"/>
        </restriction>
    </simpleType>

    <simpleType name="amexCid">
        <annotation>
            <documentation>
                American Express CID security code.
            </documentation>
        </annotation>
        <restriction base="normalizedString">
            <minLength value="1"/>
            <maxLength value="4"/>
            <pattern value="[0-9]{4}"/>
        </restriction>
    </simpleType>

    <simpleType name="masterCardCreditCardNumber">
        <annotation>
            <documentation>
                MasterCard credit card number. Starts with the 51
                through 55 and have 16
                digits.
            </documentation>
        </annotation>
        <restriction base="ddp:string35">
            <pattern value="5[1-5][0-9]{14}|2[2-7][0-9]{14}"/>
        </restriction>
    </simpleType>

    <simpleType name="masterCardCvc2">
        <annotation>
            <documentation>
                MasterCard CVC2 security code.
            </documentation>
        </annotation>
        <restriction base="normalizedString">
            <minLength value="1"/>
            <maxLength value="3"/>
            <pattern value="[0-9]{3}"/>
        </restriction>
    </simpleType>

    <simpleType name="visaCreditCardNumber">
        <annotation>
            <documentation>
                Visa credit card number. Starts with a 4. New cards
                have 16 digits. Old
                cards have 13.
            </documentation>
        </annotation>
        <restriction base="ddp:string35">
            <pattern value="(4[0-9]{12})([0-9]{3})?"/>
        </restriction>
    </simpleType>

    <simpleType name="visaCvv2">
        <annotation>
            <documentation>
                Visa CVV2 security code.
            </documentation>
        </annotation>
        <restriction base="normalizedString">
            <minLength value="1"/>
            <maxLength value="3"/>
            <pattern value="[0-9]{3}"/>
        </restriction>
    </simpleType>


    <simpleType name="phoneNumber">
        <annotation>
            <documentation>
                Phone number, international numbers start with a +.
            </documentation>
        </annotation>
        <restriction base="ddp:string50"/>
    </simpleType>

    <simpleType name="simpleNMToken">
        <restriction base="NMTOKEN">
            <minLength value="1"/>
            <maxLength value="50"/>
        </restriction>
    </simpleType>

    <simpleType name="emailAddress">
        <annotation>
            <documentation>
                Email address, all characters are allowed except white space, single quote, and double quote.
            </documentation>
        </annotation>
        <restriction base="ddp:string100">
            <pattern value="[^\s'&quot;]+@[^\s'&quot;.@]+(\.[^\s'&quot;.@]+)*"/>
        </restriction>
    </simpleType>

    <simpleType name="gender">
        <restriction base="string">
            <enumeration value="M">
                <annotation>
                    <documentation>Male</documentation>
                </annotation>
            </enumeration>
            <enumeration value="F">
                <annotation>
                    <documentation>Female</documentation>
                </annotation>
            </enumeration>
            <enumeration value="U">
                <annotation>
                    <documentation>Undefined</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <complexType name="vat">
        <sequence>
            <element name="amount" type="ddp:amount" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="rate" use="required">
            <simpleType>
                <restriction base="decimal">
                    <whiteSpace value="collapse"/>
                    <minInclusive value="0"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="amount">
        <annotation>
            <documentation>The amount in the minor unit for the given
                currency.
                (E.g. for EUR in cents)
            </documentation>
        </annotation>
        <simpleContent>
            <extension base="int">
                <attribute name="currency" type="ddp:currency" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <simpleType name="successCode">
        <annotation>
            <documentation>The success code of the success.</documentation>
        </annotation>
        <restriction base="NMTOKEN">
            <enumeration value="SUCCESS">
                <annotation>
                    <documentation>The operation was generally successful.
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <simpleType name="errorCode">
        <annotation>
            <documentation>The error code of the error.</documentation>
        </annotation>
        <restriction base="NMTOKEN">
            <enumeration value="UNKNOWN_ERROR">
                <annotation>
                    <documentation>The reason of error is unknown.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="REQUEST_DATA_MISSING">
                <annotation>
                    <documentation>Request data is missing.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="REQUEST_DATA_INCORRECT">
                <annotation>
                    <documentation>Request data is incorrect.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="SECURITY_ERROR">
                <annotation>
                    <documentation>Error related to security violations such as login
                        failure or not allowed IP.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="INTERNAL_ERROR">
                <annotation>
                    <documentation>Payment system error.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <complexType name="menuPreferences">
        <sequence>
            <element name="css" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        The id of the CSS file that should be used in
                        the payment menu.
                    </documentation>
                </annotation>
                <complexType>
                    <attribute name="id" type="int" use="required"/>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <simpleType name="paymentOrderKey">
        <restriction base="string"/>
    </simpleType>

    <!-- ============================================================ -->
    <!-- ==================== Business entities    ================== -->
    <!-- ============================================================ -->

    <complexType name="name">
        <sequence>
            <element name="prefix" type="ddp:string50" maxOccurs="1" minOccurs="0">
                <annotation>
                    <documentation>For example: Mr., Mrs., Ms., Dr. This field is
                        commonly omitted.
                    </documentation>
                </annotation>
            </element>
            <element name="initials" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The initials.</documentation>
                </annotation>
            </element>
            <element name="first" type="ddp:string35" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The first given name.</documentation>
                </annotation>
            </element>
            <element name="middle" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Any subsequent given name or names. May also be used
                        as middle initial.
                    </documentation>
                </annotation>
            </element>
            <element name="last" type="ddp:string35" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The family or inherited name(s).</documentation>
                </annotation>
            </element>
            <element name="suffix" type="ddp:string50" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>For example: Ph.D., Jr. (Junior), 3rd, Esq.
                        (Exquire). This field is commonly omitted.
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="destination">
        <sequence>
            <element name="name" type="ddp:name" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Name of the destination.</documentation>
                </annotation>
            </element>
            <sequence>
                <element name="address" type="ddp:address" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>Address of the destination.</documentation>
                    </annotation>
                </element>
            </sequence>
        </sequence>
    </complexType>

    <complexType name="technicalIntegrationInfo">
        <annotation>
            <documentation>This element contains information about the
                application contacting the
                webservice. This info is useful when
                debugging troubleshooting technical
                integration issues.
            </documentation>
        </annotation>
        <sequence>
            <element name="webshopPlugin" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The name of the plugin used to contact this
                        webservice.
                    </documentation>
                </annotation>
            </element>
            <element name="webshopPluginVersion" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The version of the plugin used to contact this
                        webservice.
                    </documentation>
                </annotation>
            </element>

            <element name="integratorName" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The name of the plugin creator used to contact this
                        webservice.
                    </documentation>
                </annotation>
            </element>
            <element name="programmingLanguage" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The programming language used to contact this
                        webservice.
                    </documentation>
                </annotation>
            </element>
            <element name="operatingSystem" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The operating system from which this webservice is
                        contacted.
                    </documentation>
                </annotation>
            </element>
            <element name="operatingSystemVersion" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The versionnumber of the operating system from which
                        this webservice is contacted.
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="address">
        <sequence>
            <element name="company" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        The name of the company.
                    </documentation>
                </annotation>
            </element>
            <element name="kvkNummer" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        Chamber of commerce number. In the Netherlands KvK
                        number is mandatory
                        for a company. Other countries this is an
                        optional feature. This
                        field is for future usage.
                    </documentation>
                </annotation>
            </element>
            <element name="vatNumber" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        The European Union value added tax (EU VAT) is a
                        value added tax encompassing member states in the European Union
                        VAT area. Joining in this is compulsory for member states of the
                        European Union. As consumption tax, the EU VAT taxes the
                        consumption of goods and services in the EU VAT area. The EU VAT's
                        key issue asks where the supply and consumption occurs thereby
                        determining which member state will collect the VAT and which VAT
                        rate will be charged. This field is for future usage.
                    </documentation>
                </annotation>
            </element>
            <element name="careOf" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        Care of, usually abbreviated as c/o on envelopes,
                        signifies an intermediary who is responsible for transferring a
                        piece of mail between the postal system and the final addressee.
                        For example, when the addressee has no standard address, is under
                        a corporate mail system, or is being manually forwarded mail sent
                        to a more accessible location. In Australia and New Zealand c/- is
                        often used in place of c/o. This field is for future usage.
                    </documentation>
                </annotation>
            </element>
            <element name="street" type="ddp:string35" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        Address lines must be filled as specific as possible
                        using the house number and optionally the house number addition
                        field.
                    </documentation>
                </annotation>
            </element>
            <element name="houseNumber" minOccurs="1" maxOccurs="1" type="ddp:string35">
                <annotation>
                    <documentation>The house number.</documentation>
                </annotation>
            </element>
            <element name="houseNumberAddition" minOccurs="0" maxOccurs="1" type="ddp:string35">
                <annotation>
                    <documentation>The addition to the house number.</documentation>
                </annotation>
            </element>
            <element name="postalCode" type="ddp:simpleNMToken" minOccurs="1" maxOccurs="1"/>
            <element name="city" type="ddp:string35" minOccurs="1" maxOccurs="1"/>
            <element name="state" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        A state or province. Is mandatory for Argentina,
                        Brazil, Canada, China, Indonesia,
                        India, Japan, Mexico, Thailand and
                        the US of A. when PayPal is used as
                        payment method.
                    </documentation>
                </annotation>
            </element>
            <element name="country" type="ddp:country" minOccurs="1" maxOccurs="1"/>

        </sequence>
    </complexType>

    <complexType name="shopper">
        <sequence>
            <element name="name" type="ddp:name" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Shopper's full name.</documentation>
                </annotation>
            </element>
            <element name="email" type="ddp:emailAddress" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Shopper's e-mail address.</documentation>
                </annotation>
            </element>
            <element name="language" type="ddp:language" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Shopper's preferred language.</documentation>
                </annotation>
            </element>
            <element name="gender" minOccurs="1" maxOccurs="1" type="ddp:gender">
                <annotation>
                    <documentation>Shopper's gender.</documentation>
                </annotation>
            </element>
            <element name="dateOfBirth" type="ddp:plainDate" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Shopper's date of birth.</documentation>
                </annotation>
            </element>
            <element name="phoneNumber" type="ddp:phoneNumber" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Shopper's phone number.</documentation>
                </annotation>
            </element>
            <element name="mobilePhoneNumber" type="ddp:phoneNumber" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Shopper's mobile phone number.</documentation>
                </annotation>
            </element>
            <element name="ipAddress" type="ddp:string35" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        Ip address of the shopper. Will be used in the
                        future for
                        riskchecks. Can be ipv4 or ipv6.
                    </documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="id" type="ddp:string35" use="required"/>
    </complexType>


    <complexType name="merchant">
        <attribute name="name" type="ddp:string50" use="required">
            <annotation>
                <documentation>Merchant's login name.</documentation>
            </annotation>
        </attribute>
        <attribute name="password" type="ddp:string35" use="required">
            <annotation>
                <documentation>Merchant's password.</documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="paymentPreferences">
        <sequence>
            <element name="profile" type="ddp:string50" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        The profile that is used to select the payment
                        methods that can be used to pay this order.
                    </documentation>
                </annotation>
            </element>
            <element name="numberOfDaysToPay" type="int" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        The expected number of days in which the payment
                        should be processed, or be expired if not paid.
                    </documentation>
                </annotation>
            </element>
            <element name="exhortation" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="period1" type="ddp:exhortationPeriod" minOccurs="1" maxOccurs="1"/>

                        <element name="period2" type="ddp:exhortationPeriod" minOccurs="0" maxOccurs="1"/>

                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <complexType name="paymentRequest">
        <annotation>
            <documentation>Request for a payment.</documentation>
        </annotation>
        <choice maxOccurs="1" minOccurs="1">
            <element name="initialPaymentReference" type="ddp:paymentReference" maxOccurs="1" minOccurs="1"/>
        </choice>
    </complexType>

    <complexType name="paymentReference">
        <annotation>
            <documentation>A reference identifying an initial payment.
            </documentation>
        </annotation>
        <choice maxOccurs="1" minOccurs="1">
            <element name="linkId" maxOccurs="1" minOccurs="1">
                <annotation>
                    <documentation>DEPRECATED: This option is no longer supported.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89aAbB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="paymentId" type="ddp:paymentId" maxOccurs="1" minOccurs="1">
                <annotation>
                    <documentation>DEPRECATED: This option is no longer supported.</documentation>
                </annotation>
            </element>
            <element name="merchantReference" type="ddp:string50" maxOccurs="1" minOccurs="1"/>
        </choice>
    </complexType>

    <simpleType name="paymentId">
        <annotation>
            <documentation>The payment ID with check digit as generated by the
                payment system.
            </documentation>
        </annotation>
        <restriction base="positiveInteger"/>
    </simpleType>

    <simpleType name="authorizationStatus">
        <annotation>
            <documentation>The state of the authorization.
            </documentation>
        </annotation>
        <restriction base="NMTOKEN">
            <enumeration value="NEW">
                <annotation>
                    <documentation>This is a new payment without any actions performed
                        on it yet.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="RISK_CHECK_OK">
                <annotation>
                    <documentation>For this payment the risk check was okay.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="RISK_CHECK_FAILED">
                <annotation>
                    <documentation>The risk check for this payment triggered.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="STARTED">
                <annotation>
                    <documentation>The user has provided details and is authenticated.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="START_ERROR">
                <annotation>
                    <documentation>The payment system could not start the payment due
                        to a technical error.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="AUTHENTICATED">
                <annotation>
                    <documentation>The shopper is authenticated by the acquirer.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="REDIRECTED_FOR_AUTHENTICATION">
                <annotation>
                    <documentation>The shopper is redirected to the acquirer web-site
                        for authentication.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="AUTHENTICATION_FAILED">
                <annotation>
                    <documentation>The shopper is not authenticated by the acquirer.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="AUTHENTICATION_ERROR">
                <annotation>
                    <documentation>Unable to do the authentication of the shopper by
                        the acquirer.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="AUTHORIZED">
                <annotation>
                    <documentation>This payment is authorized.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="REDIRECTED_FOR_AUTHORIZATION">
                <annotation>
                    <documentation>The shopper is redirected to the acquirer web-site
                        for authorization.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="AUTHORIZATION_REQUESTED">
                <annotation>
                    <documentation>Requested authorization for this payment, waiting
                        for a notification from acquirer.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="AUTHORIZATION_FAILED">
                <annotation>
                    <documentation>The payment was not authorized due to a functional
                        error.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="AUTHORIZATION_ERROR">
                <annotation>
                    <documentation>Unable to do the payment authorization due to a
                        technical error.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="CANCELED">
                <annotation>
                    <documentation>The payment is canceled. </documentation>
                </annotation>
            </enumeration>
            <enumeration value="CANCEL_FAILED">
                <annotation>
                    <documentation>Payment is not canceled, due to functional error.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="CANCEL_ERROR">
                <annotation>
                    <documentation>Payment is not canceled, due to technical error.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="CANCEL_REQUESTED">
                <annotation>
                    <documentation>A cancel request sent to acquirer.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <complexType name="paymentResponse">
        <annotation>
            <documentation>Only present when there was a paymentRequest element
                in the request.
            </documentation>
        </annotation>
        <sequence minOccurs="1" maxOccurs="1">
            <element name="paymentSuccess" maxOccurs="1" minOccurs="0">
                <annotation>
                    <documentation>The payment was successfully authorized.
                    </documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="status" type="ddp:authorizationStatus" maxOccurs="1" minOccurs="1"/>
                        <element name="id" type="ddp:paymentId" maxOccurs="1" minOccurs="1"/>
                    </sequence>
                </complexType>
            </element>
            <element name="paymentInsufficientData" maxOccurs="1" minOccurs="0">
                <annotation>
                    <documentation>There was insufficient payment data in the
                        paymentRequest. Redirect the shopper to the payment menu.
                    </documentation>
                </annotation>
            </element>
            <element name="paymentError" maxOccurs="1" minOccurs="0">
                <annotation>
                    <documentation>There was an error initiating the payment.
                    </documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="error" type="ddp:error" maxOccurs="1" minOccurs="1"/>
                        <element name="status" type="ddp:authorizationStatus" maxOccurs="1" minOccurs="0"/>
                        <element name="id" type="ddp:paymentId" maxOccurs="1" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <complexType name="invoice">
        <annotation>
            <documentation>Optional additional data used for invoices.
            </documentation>
        </annotation>
        <sequence>
            <element name="totalNetAmount" type="ddp:amount" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        Total net amount for this order.
                    </documentation>
                </annotation>
            </element>
            <element name="totalVatAmount" minOccurs="1" maxOccurs="1000">
                <annotation>
                    <documentation>
                        Total VAT amount for this order.
                    </documentation>
                </annotation>
                <complexType>
                    <complexContent>
                        <extension base="ddp:amount">
                            <attribute name="rate" use="required">
                                <simpleType>
                                    <restriction base="decimal">
                                        <whiteSpace value="collapse"/>
                                        <minInclusive value="0"/>
                                    </restriction>
                                </simpleType>
                            </attribute>
                        </extension>
                    </complexContent>
                </complexType>
            </element>
            <element name="item" type="ddp:item" minOccurs="1" maxOccurs="1000">
                <annotation>
                    <documentation>
                        Information concerning the ordered items.
                    </documentation>
                </annotation>
            </element>
            <element name="shipTo" type="ddp:destination" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        Name and address to use for shipping.
                    </documentation>
                </annotation>
            </element>
            <element name="additionalDescription" type="ddp:string100" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        Additional description concerning the
                        payment order.
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="exhortationPeriod">
        <attribute name="numberOfDays" type="int" use="required">
            <annotation>
                <documentation>
                    The number of days after communication to the
                    shopper
                    the exhortation period will be initiated.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="profile" type="ddp:string50" use="optional">
            <annotation>
                <documentation>The profile that is used to determine the payment
                    methods for this order during this exhortation period.
                </documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="error">
        <annotation>
            <documentation>Message in case of errors or validation failure(s).
            </documentation>
        </annotation>
        <simpleContent>
            <extension base="string">
                <attribute name="code" type="ddp:errorCode" use="required"/>
            </extension>
        </simpleContent>
    </complexType>



    <complexType name="success">
        <annotation>
            <documentation>Message in case of a successful request.
            </documentation>
        </annotation>
        <simpleContent>
            <extension base="string">
                <attribute name="code" type="ddp:successCode" use="required"/>
            </extension>
        </simpleContent>
    </complexType>



    <complexType name="item">
        <annotation>
            <documentation>A single (line) item for this order.</documentation>
        </annotation>
        <sequence minOccurs="1" maxOccurs="1">
            <element name="name" minOccurs="1" maxOccurs="1" type="ddp:string50">
                <annotation>
                    <documentation>
                        The human-readable name of this item.
                    </documentation>
                </annotation>
            </element>
            <element name="code" minOccurs="1" maxOccurs="1" type="ddp:string50">
                <annotation>
                    <documentation>
                        A code or article number identifying this item.
                    </documentation>
                </annotation>
            </element>
            <element name="quantity" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Quantity of this item that's being ordered.
                    </documentation>
                </annotation>
                <complexType>
                    <simpleContent>
                        <extension base="int">
                            <attribute name="unitOfMeasure" use="required">
                                <annotation>
                                    <documentation>
                                        Unit of measurement.

                                        The attribute can have the
                                        following values: PCS - pieces
                                        SEC- seconds BYT - bytes KB -
                                        kilobytes
                                    </documentation>
                                </annotation>
                                <simpleType>
                                    <restriction base="string">
                                        <enumeration value="PCS"/>
                                        <enumeration value="SEC"/>
                                        <enumeration value="BYT"/>
                                        <enumeration value="KB"/>
                                    </restriction>
                                </simpleType>
                            </attribute>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="description" minOccurs="1" maxOccurs="1" type="ddp:string100">
                <annotation>
                    <documentation>
                        The description of the item.
                    </documentation>
                </annotation>
            </element>
            <element name="image" minOccurs="0" type="ddp:string2048">
                <annotation>
                    <documentation>URL pointing to the location of the order item's
                        image. The image itself can be subject to certain limitations on
                        file size and image dimensions, defined by docdata.
                    </documentation>
                </annotation>
            </element>
            <element name="netAmount" type="ddp:amount" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        The net amount for a single piece of this item.
                    </documentation>
                </annotation>
            </element>
            <element name="grossAmount" type="ddp:amount" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        The gross amount for a single piece of this
                        item.
                    </documentation>
                </annotation>
            </element>
            <element name="vat" type="ddp:vat" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        The VAT amount for a single piece of this item.
                    </documentation>
                </annotation>
            </element>
            <element name="totalNetAmount" type="ddp:amount" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        The total net amount for this item.
                    </documentation>
                </annotation>
            </element>
            <element name="totalGrossAmount" type="ddp:amount" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        The total gross amount for this item.
                    </documentation>
                </annotation>
            </element>
            <element name="totalVat" type="ddp:vat" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        The total VAT amount for this item.
                    </documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="number" use="required" type="int"/>
    </complexType>

    <complexType name="paymentRequestInput">
        <annotation>
            <documentation>Payment information to start a payment.
            </documentation>
        </annotation>
        <sequence>
            <element name="paymentMethod" type="ddp:string50" minOccurs="1">
                <annotation>
                    <documentation>Payment method to be used.
                    </documentation>
                </annotation>
            </element>
            <element name="paymentAmount" type="ddp:amount" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional payment amount to be used. If left empty,
                        the full payment order's amount will be used.
                    </documentation>
                </annotation>
            </element>
            <choice>
                <element name="amexPaymentInput" type="ddp:amexPaymentInput" minOccurs="0" maxOccurs="1"/>
                <element name="masterCardPaymentInput" type="ddp:masterCardPaymentInput" minOccurs="0" maxOccurs="1"/>
                <element name="visaPaymentInput" type="ddp:visaPaymentInput" minOccurs="0" maxOccurs="1"/>
                <element name="directDebitPaymentInput" type="ddp:directDebitPaymentInput" minOccurs="0" maxOccurs="1"/>
                <element name="bankTransferPaymentInput" type="ddp:bankTransferPaymentInput" minOccurs="0" maxOccurs="1"/>
                <element name="elvPaymentInput" type="ddp:elvPaymentInput" minOccurs="0" maxOccurs="1"/>
            </choice>
        </sequence>
    </complexType>

    <complexType name="amexPaymentInput">
        <annotation>
            <documentation>
                American Express credit card payment input.
            </documentation>
        </annotation>
        <sequence>
            <element name="creditCardNumber" type="ddp:amexCreditCardNumber" minOccurs="1"/>
            <element name="expiryDate" type="ddp:string35" minOccurs="1"/>
            <element name="cid" type="ddp:amexCid" minOccurs="1"/>
            <element name="cardHolder" type="ddp:string35" minOccurs="1"/>
            <element name="emailAddress" type="ddp:emailAddress" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="masterCardPaymentInput">
        <annotation>
            <documentation>
                MasterCard credit card payment input.
            </documentation>
        </annotation>
        <sequence>
            <element name="creditCardNumber" type="ddp:masterCardCreditCardNumber" minOccurs="1"/>
            <element name="expiryDate" type="ddp:string35" minOccurs="1"/>
            <element name="cvc2" type="ddp:masterCardCvc2" minOccurs="1"/>
            <element name="cardHolder" type="ddp:string35" minOccurs="1"/>
            <element name="emailAddress" type="ddp:emailAddress" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="visaPaymentInput">
        <annotation>
            <documentation>
                Visa credit card payment input.
            </documentation>
        </annotation>
        <sequence>
            <element name="creditCardNumber" type="ddp:visaCreditCardNumber" minOccurs="1"/>
            <element name="expiryDate" type="ddp:string35" minOccurs="1"/>
            <element name="cvv2" type="ddp:visaCvv2" minOccurs="1"/>
            <element name="cardHolder" type="ddp:string35" minOccurs="1"/>
            <element name="emailAddress" type="ddp:emailAddress" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="directDebitPaymentInput">
        <annotation>
            <documentation>
                Direct debit payment input.
            </documentation>
        </annotation>
        <sequence maxOccurs="1" minOccurs="1">
            <element name="holderName" type="ddp:string35" minOccurs="1" maxOccurs="1"/>
            <element name="holderCity" type="ddp:string35" minOccurs="0" maxOccurs="1"/>
            <element name="holderCountry" type="ddp:country" minOccurs="0" maxOccurs="1"/>
            <element name="bic" type="ddp:string35" maxOccurs="1" minOccurs="0"/>
            <element name="iban" type="ddp:string35" maxOccurs="1" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="bankTransferPaymentInput">
        <annotation>
            <documentation>
                Bank transfer payment input.
            </documentation>
        </annotation>
        <sequence maxOccurs="1" minOccurs="1">
            <element name="emailAddress" type="ddp:emailAddress" maxOccurs="1" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="elvPaymentInput">
        <annotation>
            <documentation>
                ELV payment input.
            </documentation>
        </annotation>
        <sequence maxOccurs="1" minOccurs="1">
            <element name="accountNumber" type="ddp:string35" maxOccurs="1" minOccurs="1"/>
            <element name="bankCode" type="ddp:string35" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="statusReport">
        <sequence>
            <element name="approximateTotals" type="ddp:approximateTotals" minOccurs="1" maxOccurs="1"/>
            <element name="payment" type="ddp:payment" maxOccurs="1000" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="approximateTotals">
        <sequence>
            <element name="totalRegistered" type="int" minOccurs="1">
                <annotation>
                    <documentation>
                        The initial total amount requested for the
                        order.
                    </documentation>
                </annotation>
            </element>
            <element name="totalShopperPending" type="int" maxOccurs="1" minOccurs="1">
                <annotation>
                    <documentation>
                        The amount for the
                        order that is currently pending
                        with the shopper.
                    </documentation>
                </annotation>
            </element>
            <element name="totalAcquirerPending" type="int" maxOccurs="1" minOccurs="1">
                <annotation>
                    <documentation>
                        The amount for the
                        order that is currently pending
                        with an acquirer.
                    </documentation>
                </annotation>
            </element>
            <element name="totalAcquirerApproved" type="int" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        The amount for the
                        order that is currently approved
                        by an acquirer.
                    </documentation>
                </annotation>
            </element>
            <element name="totalCaptured" type="int" minOccurs="1">
                <annotation>
                    <documentation>
                        The currently captured total amount for the
                        order.
                    </documentation>
                </annotation>
            </element>
            <element name="totalRefunded" type="int" minOccurs="1">
                <annotation>
                    <documentation>
                        The currently refunded total amount for the
                        order.
                    </documentation>
                </annotation>
            </element>
            <element name="totalChargedback" type="int" minOccurs="1">
                <annotation>
                    <documentation>
                        The currently chargedback amount for the
                        order.
                    </documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="exchangedTo" type="ddp:currency" use="optional">
            <annotation>
                <documentation>
                    If multiple currencies are included in the totals,
                    then the
                    approximation, for convenience is based on a conversion.
                    This is the currency that is used to convert to.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="exchangeRateDate" type="ddp:plainDateTime" use="optional">
            <annotation>
                <documentation>
                    If multiple currencies are included in the totals,
                    then the
                    approximation, for convenience is based on a conversion.
                    This is the date on which the conversion was performed for
                    the
                    calculation of the totals.
                </documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="payment">
        <sequence>
            <element name="id" type="ddp:paymentId"/>
            <element name="paymentMethod" type="ddp:string50" minOccurs="1">
                <annotation>
                    <documentation>Payment method used for the payment.
                    </documentation>
                </annotation>
            </element>
            <element name="authorization" type="ddp:authorization"/>
            <element name="extended" type="ddp:paymentInfo" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="paymentInfo">
        <annotation>
            <documentation>
                Extended payment information e.g. risk check scores
                and payment-specific information.
            </documentation>
        </annotation>
        <sequence>
            <element name="riskChecks" type="ddp:riskCheck" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Risk checks are controls which can prevent fraud.
                        They can be configured in the back office.
                    </documentation>
                </annotation>
            </element>
            <choice>
                <element name="debitCreditCardPaymentInfo" type="ddp:debitCreditCardPaymentInfo" minOccurs="0" maxOccurs="1"/>
                <element name="bankPaymentInfo" type="ddp:bankPaymentInfo" minOccurs="0" maxOccurs="1"/>
                <element name="giftCardPaymentInfo" type="ddp:giftCardPaymentInfo" minOccurs="0" maxOccurs="1"/>
                <element name="openInvoicePaymentInfo" type="ddp:openInvoicePaymentInfo" minOccurs="0" maxOccurs="1"/>
                <element name="mobilePaymentInfo" type="ddp:mobilePaymentInfo" minOccurs="0" maxOccurs="1"/>
                <element name="directDebitPaymentInfo" type="ddp:directDebitPaymentInfo" minOccurs="0" maxOccurs="1"/>
                <element name="walletPaymentInfo" type="ddp:walletPaymentInfo" minOccurs="0" maxOccurs="1"/>
                <element name="userWalletPaymentInfo" type="ddp:userWalletPaymentInfo" minOccurs="0" maxOccurs="1"/>
            </choice>
        </sequence>
    </complexType>

    <complexType name="riskCheck">
        <annotation>
            <documentation>
                The sum of all risk checks. The higher the score, the
                higher the risk. Scores of 100 or above are canceled automatically.
            </documentation>
        </annotation>
        <sequence>
            <element name="check" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                    <simpleContent>
                        <extension base="string">
                            <attribute name="score" type="int" use="required"/>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
        </sequence>
        <attribute name="score" type="int" use="required"/>
    </complexType>

    <complexType name="debitCreditCardPaymentInfo">
        <annotation>
            <documentation>
                Debit and creditcard payment information.
            </documentation>
        </annotation>
        <sequence>
            <element name="cardHolder" type="ddp:string100" minOccurs="1"/>
            <element name="cardCountry" type="ddp:string50" minOccurs="0"/>
            <element name="panLast4" type="ddp:string50" minOccurs="0"/>
            <element name="refusalReason" type="ddp:string250" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="bankPaymentInfo">
        <annotation>
            <documentation>
                Payment information concerning bank payment methods,
                including iDEAL.
            </documentation>
        </annotation>
        <sequence>
            <element name="issuerId" type="ddp:string50" minOccurs="0"/>
            <element name="beneficiaryName" type="ddp:string50" minOccurs="0"/>
            <element name="beneficiaryCity" type="ddp:string50" minOccurs="0"/>
            <element name="beneficiaryCountry" type="ddp:string50" minOccurs="0"/>
            <element name="bankName" type="ddp:string50" minOccurs="0"/>
            <element name="bankCity" type="ddp:string35" minOccurs="0"/>
            <element name="bankCode" type="ddp:string35" minOccurs="0"/>
            <element name="bankAccountNumber" type="ddp:string50" minOccurs="0"/>
            <element name="bic" type="ddp:string35" minOccurs="0"/>
            <element name="iban" type="ddp:string35" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="giftCardPaymentInfo">
        <annotation>
            <documentation>
                Gift card payment information.
            </documentation>
        </annotation>
        <sequence>
            <element name="giftCardNumber" type="ddp:string50" minOccurs="1"/>
            <element name="balance" type="ddp:string50" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="openInvoicePaymentInfo">
        <annotation>
            <documentation>
                Open invoice payment information.
            </documentation>
        </annotation>
        <sequence>
            <element name="invoiceNumber" type="ddp:string50" minOccurs="0"/>
            <element name="reservationNumber" type="ddp:string50" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="mobilePaymentInfo">
        <annotation>
            <documentation>
                Mobile payment information.
            </documentation>
        </annotation>
        <sequence>
            <element name="phoneNumber" type="ddp:string100" minOccurs="0"/>
            <element name="provider" type="ddp:string50" minOccurs="0"/>
            <element name="country" type="ddp:country" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="directDebitPaymentInfo">
        <annotation>
            <documentation>
                Direct debit payment information.
            </documentation>
        </annotation>
        <sequence>
            <element name="bic" type="ddp:string35" minOccurs="0"/>
            <element name="iban" type="ddp:string50" minOccurs="0"/>
            <element name="bankAccountNumber" type="ddp:string50" minOccurs="0">
                <annotation>
                    <documentation>Deprecated no longer supported.</documentation>
                </annotation>
            </element>
            <element name="bankCode" type="ddp:string35" minOccurs="0">
                <annotation>
                    <documentation>Deprecated no longer supported.</documentation>
                </annotation>
            </element>
            <element name="country" type="ddp:country" minOccurs="1"/>
            <element name="mandateNumber" type="ddp:string50" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="walletPaymentInfo">
        <annotation>
            <documentation>
                Wallet payment information.
            </documentation>
        </annotation>
        <sequence>
            <element name="accountID" type="ddp:string50" minOccurs="1" maxOccurs="1000"/>
        </sequence>
    </complexType>

    <complexType name="userWalletPaymentInfo">
        <annotation>
            <documentation>
                User wallet payment information.
            </documentation>
        </annotation>
        <sequence>
            <element name="walletID" type="ddp:string35" minOccurs="0"/>
            <element name="userID" type="ddp:string35" minOccurs="0"/>
            <element name="balance" type="ddp:string50" minOccurs="0"/>
            <element name="paymentMethod" type="ddp:string35" minOccurs="0"/>
            <element name="cardHolder" type="ddp:string100" minOccurs="0"/>
            <element name="cardCountry" type="ddp:string50" minOccurs="0"/>
            <element name="panLast4" type="ddp:string50" minOccurs="0"/>
        </sequence>
    </complexType>


    <complexType name="authorization">
        <sequence>
            <element name="status" type="ddp:authorizationStatus" minOccurs="1" maxOccurs="1"/>
            <element name="amount" type="ddp:amount" minOccurs="1" maxOccurs="1"/>
            <element name="confidenceLevel" type="ddp:string35" minOccurs="1" maxOccurs="1"/>
            <element name="capture" type="ddp:capture" minOccurs="0" maxOccurs="1000">
            </element>
            <element name="refund" type="ddp:refund" minOccurs="0" maxOccurs="1000">
            </element>
            <element name="chargeback" type="ddp:chargeback" minOccurs="0" maxOccurs="1000">
            </element>
        </sequence>
    </complexType>

    <complexType name="capture">
        <sequence>
            <element name="merchantCaptureId" type="ddp:string35" minOccurs="0"/>
            <element name="status" type="ddp:string35"/>
            <element name="amount" type="ddp:amount"/>
            <element name="reason" type="ddp:string250" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="refund">
        <sequence>
            <element name="merchantRefundId" type="ddp:string35" minOccurs="0"/>
            <element name="status" type="ddp:string35"/>
            <element name="amount" type="ddp:amount"/>
            <element name="reason" type="ddp:string250" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="chargeback">
        <sequence>
            <element name="chargebackId" type="ddp:string35" minOccurs="0"/>
            <element name="status" type="ddp:string35"/>
            <element name="amount" type="ddp:amount"/>
            <element name="reason" type="ddp:string250" minOccurs="0"/>
            <element name="enquiryReason" type="ddp:string250" minOccurs="0"/>
        </sequence>
    </complexType>

    <!-- ============================================================ -->
    <!-- ==================== Operation parameters ================== -->
    <!-- ============================================================ -->

    <complexType name="baseRequest" abstract="true">
        <annotation>
            <documentation>Base type for all the requests.</documentation>
        </annotation>
        <sequence>
            <element name="merchant" type="ddp:merchant" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        Merchant credentials.
                    </documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="version" type="decimal" fixed="1.2" use="required"/>
    </complexType>

    <element name="createRequest">
        <annotation>
            <documentation>Allows to request a new order to be registered.
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="ddp:baseRequest">
                    <sequence maxOccurs="1" minOccurs="1">
                        <element name="merchantOrderReference" minOccurs="1" maxOccurs="1" type="ddp:string35">
                            <annotation>
                                <documentation>
                                    Unique merchant reference to this order.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="paymentPreferences" type="ddp:paymentPreferences" maxOccurs="1" minOccurs="1">
                            <annotation>
                                <documentation>
                                    Preferences to use for this payment.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="menuPreferences" type="ddp:menuPreferences" maxOccurs="1" minOccurs="0">
                            <annotation>
                                <documentation>
                                    Preferences to be used for the webmenu.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="shopper" type="ddp:shopper" maxOccurs="1" minOccurs="1">
                            <annotation>
                                <documentation>
                                    Information concerning the shopper who
                                    placed the
                                    order.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="totalGrossAmount" type="ddp:amount" minOccurs="1" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    Total order gross amount.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="billTo" type="ddp:destination" minOccurs="1" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    Name and address to use for billing.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="description" type="ddp:string50" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    The description of the order.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="receiptText" type="ddp:string50" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    The description that is used by payment
                                    providers on
                                    shopper statements.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="includeCosts" type="boolean" minOccurs="0" maxOccurs="1" default="false">
                            <annotation>
                                <documentation>
                                    Indicates if the cost of the chosen payment method
                                    should be added (true) or should not be added (false) to the
                                    order amount. Default is false. Note that this will not work for
                                    every payment method. In the future, DocData may no longer
                                    support this feature.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="paymentRequest" type="ddp:paymentRequest" maxOccurs="1" minOccurs="0">
                            <annotation>
                                <documentation>
                                    Optionally specifies a request. When it targets an
                                    existing previous payment, then that will be used to start a new
                                    payment with directly. If it does not point to a payment, then
                                    reservations are made as the starting point for upcoming repeated
                                    payments. Using "start" with the request instead is highly
                                    recommended.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="invoice" type="ddp:invoice" minOccurs="0" maxOccurs="1">
                        </element>
                        <element name="integrationInfo" type="ddp:technicalIntegrationInfo" minOccurs="0" maxOccurs="1">
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="createResponse">
        <annotation>
            <documentation>Response of the payment order create request.
            </documentation>
        </annotation>
        <complexType>
            <sequence maxOccurs="1" minOccurs="1">
                <element name="createError" type="ddp:createError" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>An error occurred. No payment order was created.
                        </documentation>
                    </annotation>
                </element>
                <element name="createSuccess" type="ddp:createSuccess" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>
                            A payment order was successfully created. This does
                            not mean that the whole request was processed successfully! The
                            paymentResponse (see child elements) can still contain errors.
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <complexType name="createSuccess">
        <sequence>
            <element name="success" type="ddp:success" minOccurs="1" maxOccurs="1"/>
            <element name="key" type="ddp:paymentOrderKey" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        Generated key identifying the merchant and payment
                        order.
                    </documentation>
                </annotation>
            </element>
            <element name="paymentResponse" type="ddp:paymentResponse" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="createError">
        <sequence>
            <element name="error" type="ddp:error" maxOccurs="1" minOccurs="1"/>
        </sequence>
    </complexType>

    <element name="refundRequest">
        <complexType>
            <annotation>
                <documentation>Allows to request a full or partial refund.
                </documentation>
            </annotation>
            <complexContent>
                <extension base="ddp:baseRequest">
                    <sequence maxOccurs="1" minOccurs="1">
                        <element name="paymentId" type="ddp:paymentId" maxOccurs="1" minOccurs="1">
                            <annotation>
                                <documentation>
                                    The payment ID on which the refund request needs to
                                    be performed. Can be retrieved from the status report.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="merchantRefundReference" type="ddp:string35" minOccurs="0">
                            <annotation>
                                <documentation>
                                    Merchant's internal ID for identifying this refund.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="amount" type="ddp:amount" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    Optional amount to refund
                                </documentation>
                            </annotation>
                        </element>
                        <element name="itemCode" type="ddp:string50" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    A code or article number identifying an earlier
                                    supplied item. Needs to be unique under the payment order the
                                    payment is associated with.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="description" type="ddp:string250" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>Optional description for this refund.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="cancelReserved" type="boolean" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    Indicator if any reserved (new) refunds should be
                                    canceled in favor of this refund. Default is false, meaning that
                                    this new refund is in addition to already reserved refunds.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="requiredRefundDate" type="date" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    The date on which to refund. The first opportunity
                                    after this date for a refund will be used. The default is as soon
                                    as possible.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="refundBankAccount" type="ddp:sepaBankAccount" minOccurs="0">
                            <annotation>
                                <documentation>
                                    Optional, refund bank account information for
                                    payment methods for which no information is known to the system
                                    yet. If provided here, but not needed, then it will be ignored
                                    (e.g. for iDEAL or credit card refunds).
                                </documentation>
                            </annotation>
                        </element>
                        <element name="integrationInfo" type="ddp:technicalIntegrationInfo" minOccurs="0" maxOccurs="1"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="refundResponse">
        <annotation>
            <documentation>Response to a refund request.</documentation>
        </annotation>
        <complexType>
            <sequence maxOccurs="1" minOccurs="1">
                <element name="refundError" type="ddp:refundError" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>An error occurred. No refund request was created.
                        </documentation>
                    </annotation>
                </element>
                <element name="refundSuccess" type="ddp:refundSuccess" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>
                            A request for refund was successfully accepted.
                            This does not mean that the whole request will be or has been
                            processed successfully!
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <complexType name="refundError">
        <sequence>
            <element name="error" type="ddp:error" maxOccurs="1" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="refundSuccess">
        <sequence>
            <element name="success" type="ddp:success" maxOccurs="1" minOccurs="1"/>
        </sequence>
    </complexType>

    <element name="cancelRequest">
        <annotation>
            <documentation>Allows to request cancellation of the order and its
                payments.
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="ddp:baseRequest">
                    <sequence maxOccurs="1" minOccurs="1">
                        <element name="paymentOrderKey" type="string" minOccurs="1">
                            <annotation>
                                <documentation>Payment order key belonging to the order which
                                    needs to be canceled.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="integrationInfo" type="ddp:technicalIntegrationInfo" minOccurs="0" maxOccurs="1"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="cancelResponse">
        <annotation>
            <documentation>Response to a cancel request.</documentation>
        </annotation>
        <complexType>
            <sequence maxOccurs="1" minOccurs="1">
                <element name="cancelError" type="ddp:cancelError" minOccurs="0" maxOccurs="1"/>
                <element name="cancelSuccess" type="ddp:cancelSuccess" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>
                            Returns a true or false depending on whether the
                            Payment Order was succesfully cancelled or not. A payment order
                            is considered succesfully cancelled if all its payments are
                            reverted. Use "status" to retrieve more information.
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <complexType name="cancelSuccess">
        <sequence>
            <element name="success" type="ddp:success" maxOccurs="1" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="cancelError">
        <sequence>
            <element name="error" type="ddp:error" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <element name="startRequest">
        <annotation>
            <documentation>Allows to request the start of a new payment.
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="ddp:baseRequest">
                    <sequence maxOccurs="1" minOccurs="1">
                        <element name="paymentOrderKey" type="ddp:paymentOrderKey" minOccurs="1">
                            <annotation>
                                <documentation>Payment order key belonging to the order for which
                                    a transaction needs to be started.
                                </documentation>
                            </annotation>
                        </element>
                        <choice>
                            <element name="payment" type="ddp:paymentRequestInput" minOccurs="0" maxOccurs="1">
                                <annotation>
                                    <documentation>
                                        Optionally specifies the details needed for
                                        starting a payment for a shopper without showing the hosted
                                        payment pages. Must be specified if not a subsequent recurring
                                        payment.
                                    </documentation>
                                </annotation>
                            </element>
                            <element name="recurringPaymentRequest" type="ddp:paymentRequest" maxOccurs="1" minOccurs="0">
                                <annotation>
                                    <documentation>
                                        Optionally specifies a request for a recurring
                                        payment. It should target an existing previous payment that will
                                        be used to start a new payment with directly. Reservations are
                                        also made as the starting point for upcoming repeated payments
                                        if needed. Must be specified if not giving direct payment
                                        request input.
                                    </documentation>
                                </annotation>
                            </element>
                        </choice>
                        <element name="integrationInfo" type="ddp:technicalIntegrationInfo" minOccurs="0" maxOccurs="1"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="startResponse">
        <annotation>
            <documentation>Response to a start request.</documentation>
        </annotation>
        <complexType>
            <sequence maxOccurs="1" minOccurs="1">
                <element name="startError" type="ddp:startError" minOccurs="0" maxOccurs="1"/>
                <element name="startSuccess" type="ddp:startSuccess" minOccurs="0" maxOccurs="1"/>
            </sequence>
        </complexType>
    </element>

    <complexType name="startError">
        <sequence>
            <element name="error" type="ddp:error" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="startSuccess">
        <sequence>
            <element name="success" type="ddp:success" minOccurs="1"/>
            <element name="paymentId" type="ddp:paymentId" maxOccurs="1" minOccurs="1"/>
        </sequence>
    </complexType>

    <element name="captureRequest">
        <annotation>
            <documentation>Allows to request capture of an amount for a payment
                authorization.
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="ddp:baseRequest">
                    <sequence maxOccurs="1" minOccurs="1">
                        <element name="paymentId" type="ddp:paymentId" minOccurs="1">
                            <annotation>
                                <documentation>Payment id with check digit identifying the
                                    payment.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="merchantCaptureReference" type="ddp:string35" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>Merchant's internal ID for identifying this
                                    capture. Will be returned in the capture response and in status
                                    reports.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="amount" type="ddp:amount" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    Amount to be captured. If no amount nor an order
                                    item code is specified, the capture will be done for the order's
                                    total amount.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="itemCode" type="ddp:string50" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    A code or article number identifying an item in the
                                    order. If specified, this order item's total (gross) amount will
                                    be used for this capture's amount and currency.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="description" minOccurs="0" maxOccurs="1" type="ddp:string250">
                            <annotation>
                                <documentation>
                                    Optional description for this capture.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="finalCapture" type="boolean" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    Indicator whether this is the final capture for
                                    this order.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="cancelReserved" type="boolean" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    Indicator if any reserved (new) captures should be
                                    canceled in favor of this capture. Must always be true for
                                    captures.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="requiredCaptureDate" type="date" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>
                                    The date on which to capture. The first opportunity
                                    after this date for a capture will be used. The default is as
                                    soon as possible.
                                </documentation>
                            </annotation>
                        </element>
                        <element name="integrationInfo" type="ddp:technicalIntegrationInfo" minOccurs="0" maxOccurs="1"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="captureResponse">
        <annotation>
            <documentation>Response to a capture request.</documentation>
        </annotation>
        <complexType>
            <sequence maxOccurs="1" minOccurs="1">
                <element name="captureError" type="ddp:captureError" minOccurs="0" maxOccurs="1"/>
                <element name="captureSuccess" type="ddp:captureSuccess" minOccurs="0" maxOccurs="1"/>
            </sequence>
        </complexType>
    </element>

    <complexType name="captureError">
        <sequence>
            <element name="error" type="ddp:error" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="captureSuccess">
        <sequence>
            <element name="success" type="ddp:success" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <element name="statusRequest">
        <annotation>
            <documentation>Allows to request the status of an order and its
                payments.
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="ddp:baseRequest">
                    <sequence maxOccurs="1" minOccurs="1">
                        <element name="paymentOrderKey" type="ddp:paymentOrderKey" minOccurs="1" maxOccurs="1">
                        </element>
                        <element name="iIntegrationInfo" type="ddp:technicalIntegrationInfo" minOccurs="0" maxOccurs="1"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="statusResponse">
        <annotation>
            <documentation>Response to a status request.</documentation>
        </annotation>
        <complexType>
            <sequence maxOccurs="1" minOccurs="1">
                <element name="statusError" type="ddp:statusError" minOccurs="0" maxOccurs="1"/>
                <element name="statusSuccess" type="ddp:statusSuccess" minOccurs="0" maxOccurs="1"/>
            </sequence>
        </complexType>
    </element>

    <element name="extendedStatusRequest">
        <annotation>
            <documentation>Allows to request the extended status of an order and
                its
                payments.
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="ddp:baseRequest">
                    <sequence maxOccurs="1" minOccurs="1">
                        <element name="paymentOrderKey" type="ddp:paymentOrderKey" minOccurs="1" maxOccurs="1">
                        </element>
                        <element name="integrationInfo" type="ddp:technicalIntegrationInfo" minOccurs="0" maxOccurs="1"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="extendedStatusResponse">
        <annotation>
            <documentation>Response to a extended status request.</documentation>
        </annotation>
        <complexType>
            <sequence maxOccurs="1" minOccurs="1">
                <element name="statusError" type="ddp:statusError" minOccurs="0" maxOccurs="1"/>
                <element name="statusSuccess" type="ddp:statusSuccess" minOccurs="0" maxOccurs="1"/>
            </sequence>
        </complexType>
    </element>

    <complexType name="statusError">
        <sequence>
            <element name="error" type="ddp:error" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="statusSuccess">
        <sequence>
            <element name="success" type="ddp:success" minOccurs="1" maxOccurs="1"/>
            <element name="report" type="ddp:statusReport" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="sepaBankAccount">
        <sequence maxOccurs="1" minOccurs="1">
            <element name="holderName" type="ddp:string35" maxOccurs="1" minOccurs="1"/>
            <element name="holderCity" type="ddp:string35" maxOccurs="1" minOccurs="1"/>
            <element name="holderCountry" type="ddp:country" maxOccurs="1" minOccurs="1"/>
            <element name="bic" type="ddp:string35" maxOccurs="1" minOccurs="0"/>
            <element name="iban" type="ddp:string35" maxOccurs="1" minOccurs="1"/>
        </sequence>
    </complexType>
</schema>